<div class="jumbotron text-center">
  <h1><a href="/login">Login!</a></h1>
  <p>Access token is: {{ token }}</p>
  <!--<h4>Display today's top 10 songs on Spotify:</h4>
  <button ng-click="demo()">Let's Go!</button><br>
  <p id="demo"></p> -->
  <div class="form-group">Song:
      <input class="form-control" ng-model="demosongtitle">
      <button ng-click="demo2(demosongtitle)">Let's Go!</button><br>
  </div>
  <p id="demo2"></p>
  <ul>
    <li ng-repeat="item in items">{{item.name}}</li>
  </ul>
</div>
