<!-- HEADER -->
<br><br>
<div style="border-style: solid; 
            border-width: 2px; 
            width: 50%; 
            background-color: #ECF4F9;
            margin: auto;">
<br>
<h1 style="font-size: 3rem; 
           text-align: center;"><strong>Listen Up!</strong></h1>
<br>

<div class="login-container" style="text-align: center;">
  <button ng-click="authenticate()" style="font-size:2rem ; 
                                           font-color: #FFFFFF;
                                           background-color: #00c62e; border-width: 0px;" class="btn btn-primary btn-lg active">
          <strong>Click to Login with Spotify</strong></button>
</div>
<br><br>
</div>
