<!-- <div class="jumbotron text-center">
  <h3>Let's Play</h3>
</div> -->

<div class="container">
  <!--<div class="row">
    <div class="col-sm-6">-->
	<div id="left">
        <div class="form-group">
            Song: <input class="form-control" ng-model="track">
            Artist: <input class="form-control" ng-model="artist">
			<div class="form-group">
		</div>
		</div>
		
        <button ng-click="randomSong()">Pick Random Song</button><br><br>
    </div>
	
	<div id="right">
        <h2>Choose Difficulty:</h2>
		
            <button ng-click="lyrics(track, artist,1)">Easy</button>
            <button ng-click="lyrics(track, artist,3)">Medium</button>
            <button ng-click="lyrics(track, artist,5)">Hard</button>
        <br><br>
       
        <div id="gameBox">
            <br>
                <div ng-repeat="line in wordsWithBlanks track by $index">
                    <div ng-if=" line != 'BLANKLINE' ">{{ line }}</div>

                    <div ng-if=" line == 'BLANKLINE' ">
                        <input style="margin: auto; width: 66%;" type="text" ng-model="guess[$index]"><br>
                    </div>
                </div>

            <button id="gameOptionCheck" style="display: none;" ng-click="check(guess)">Check!</button>

     
            <button id="gameOptionPlayAgain" style="display: none;" onClick="window.location.reload()">Play again?</button>
        

            <br><br>
        </div>
		</div>

    </div>

        <br><br><br>
        <button id="gameOptionHint" style="display: none;" ng-click="hint()">&emsp;Hint&emsp;</button>

        <div id="hintHidden" style="display: none;"><br>
            <iframe id="playback" src="" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
		
		<div id="spotspace"></div>
	    <img src="spot.png" height="30" width="30">
		<a href="/">Logout</a>

    <!--</div>
  </div>-->
</div>
