<!-- <div class="jumbotron text-center">
  <h3>Let's Play</h3>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            Title: <input class="form-control" ng-model="track">
            Artist: <input class="form-control" ng-model="artist">
            <br>
            <button ng-click="lyrics(track, artist,1)">Easy</button>
            <button ng-click="lyrics(track, artist,3)">Medium</button>
            <button ng-click="lyrics(track, artist,5)">Hard</button>
        </div>
       
        <div style="border-style: solid; border-width: 2px; text-align: center; background-color: #ECF4F9;">
            <br>
                <div ng-repeat="line in wordsWithBlanks track by $index">
                    <div ng-if=" line != 'BLANKLINE' ">{{ line }}</div>

                    <div ng-if=" line == 'BLANKLINE' ">
                        <input style="margin: auto; width: 66%;" type="text" ng-model="guess"><br>
                    </div>
                </div>

            <button ng-click="check(guess)">Check!</button>

            <br><br>
        </div>

    </div>

    <div class="col-sm-6">
        <br>
        <div class="form-group">
            <button ng-click="randomSong()">Random Song</button><br><br>
        </div>

    </div>
  </div>
</div>
